@import "../../common/colors.scss";
.footer{
    background: #1a242f;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    flex-direction: column;
}